.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > * {
  margin-right: 1em;
}

.container > *:last-of-type {
  margin-right: 0em;
}

.buttonContainer > * {
  margin-right: 0.5em;

}

.buttonContainer > *:last-of-type {
  margin-right: 0em;
}

.weightInput {
  width: 130px;
}

.doubleItem {
  display: inline-block;
  width: calc(50% - 8px) 
}

.labelSelection {
  width: 100%;
}