.weight {
    position: absolute;
    bottom: -1em;
    right: 0em;
    color: #c1c1c1;
}

.dueDate {
    position: absolute;
    bottom: -1em;
    left: 0em;
    color: #c1c1c1;
}

.labelContainer {
    display: flex;
    justify-content: flex-start;
}

.labelContainer > .label:last-child {
    margin-right: 0em;
}

.ticketContainer {
    border-radius: 6px;
    margin-bottom: 1em;
}


.ticketContainer:last-of-type {
    margin-bottom: 0;
}