.weight {
    position: absolute;
    bottom: 0.5em;
    right: 0.8em;
    color: #c1c1c1;
}

.label-container {
    display: flex;
    justify-content: flex-start;
}

.label-container > .label:last-child {
    margin-right: 0em;
}

.ticket-container {
    border-radius: 6px;
    margin-bottom: 1em;
}

.ticket-container:last-of-type {
    margin-bottom: 0;
}