.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteButton {
  color: red;
  margin-right: 0.5em;
}

.card {
  width: 100%;
  border: 1px solid rgb(189, 189, 189) !important;
  border-radius: 5px;
}

.card > div {
  padding: 1em;
}

.description {
  margin-top: 1em;
}