.labelContainer {
  margin-left: 2em;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 100%;
  border: 1px solid rgb(189, 189, 189) !important;
  border-radius: 5px;
}

.card > div {
  padding: 1em;
}